@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  list-style-type: none;
}

ul a {
  text-decoration: none;
  color: #f9faf8
}

header, footer, .hero {
  background-color: #1f2937;
  color: #f9faf8;
}

/* Navigation */

nav {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 300px;
}

.nav-links {
  display: flex;
  gap: 16px;
  font-weight: 400;
}

.logo {
  font-weight: 700;
  font-size: 24px;
}

button {
  background-color: #3882f6;
  border-radius: 10px;
  padding: 10px 24px;
  font-size: 20px;
  color: #f9faf8
}

/* Hero */

.hero {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 50px 300px;
}

#hero-img {
  width: 50%;
  height: 200px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 10px;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb
}

.hero-btn {
  align-self: flex-start;
  width: auto;
}

/* Information */

.information {
  text-align: center;
  padding: 50px 300px;
}

.info-heading {
  margin-bottom: 24px;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.info-card img {
  width: 200px;
  height: 200px;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* QUOTE */

.quote {
  background-color: #e5e7eb;
  padding: 50px 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quote h3 {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}

.quote span {
  font-weight: 900;
  font-size: 24px;
}

/* CTA */
.cta-container {
  padding: 50px 300px;
}

.cta {
  background-color: #3882f6;
  color: #f9faf8;
  height: 150px;
  padding: 24px 48px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-heading {
  margin-bottom: 8px;
}

.cta-btn {
  border: #f9faf8 2px solid;
  height: 2.5em;
  border-radius: 10px;
  padding: 10px 24px;
}

/* FOOTER */

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}